<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <title>{% block head_title %}{{site.title}}{% endblock %}</title>
  <meta name="description" content="{{site.description}}">
  <meta name="keywords" content="javascript, frontend, code, tutorial, review, technology, writing, blog, personal, music" />

  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <script type="text/javascript">var _sf_startpt=(new Date()).getTime();</script>
  <link rel="shortcut icon" href="/favicon.ico">

  <link rel="stylesheet" type="text/css" href="/css/main.css" />
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400" />

  <link rel="alternate" type="application/rss+xml" title="Harry Wolff" href="http://feeds.feedburner.com/harrywolff/zOZJ" />
  <link rel="canonical" href="{{file.url | absolute_url(site.url) if file.url else pagination.url | absolute_url(site.url)}}" />
  {% if pagination.next %}
  <link rel="next" href="{{pagination.next_link | absolute_url(site.url)}}" />
  {% endif %}
</head>
<body class="{% block body_class %}{% endblock %}">
  <header class="main-header {% if pagination.metadata %}tag-head{% endif %}">
    <div class="main-header-content">
      <a class="main-header-logo" href="/">
        <img src="/images/profile.jpg" alt="Blog Logo" />
      </a>
      <div class="main-header-description">
        <a class="page-title" href="/">
          <h1 class="page-title">Harry Wolff</h1>
        </a>
        <h2 class="page-description">You can't escape my laugh.</h2>
        <div class="main-nav">
          <a href="http://theconsolelog.com/">The Console Log</a>
          <a href="/about/">About</a>
          <a href="/talks/">Talks</a>
          <a href="/archive/">Archive</a>
          <a class="subscribe-button icon-feed" href="http://feeds.feedburner.com/harrywolff/zOZJ">Subscribe</a>
        </div>
      </div>
    </div>
  </header>

  <main id="content" class="content" role="main">
    {% block content_header %}{% endblock%}

    {% if pagination.page > 1 %}
      <div class="extra-pagination inner">
        {% include "_pagination.html" %}
      </div>
    {% endif %}

    {% block content %}{% endblock%}

    {% include "_pagination.html" %}
  </main>

  <footer class="site-footer clearfix">
    <section class="copyright"><a href="http://hswolff.com/">Harry Wolff</a> &copy; 2017</section>
    <section class="poweredby">joyfully published with <a href="http://reptar.github.io/">Reptar</a>, based on <a href="https://ghost.org">Ghost's</a> <a href="https://github.com/TryGhost/Casper">Casper</a> theme</section>
  </footer>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="/js/main.js"></script>
</body>
</html>
