{% for post in pagination.files %}
<article class="post">
  {% if loop.first %}
    <div id="ad">
      {% include "_ads.html" %}
    </div>
  {% endif %}
  <header class="post-header">
    <h2 class="post-title"><a href="/{{post.path}}">{{post.title}}</a></h2>
  </header>
  <section class="post-excerpt">
    <p>{{post.excerpt | striptags}} <a class="read-more" href="{{post.path}}">&raquo;</a></p>
  </section>
    <footer class="post-meta">
      <span>{% for tag in post.tags %}
        <a href="/tag/{{tag}}/">{{tag}}</a>{% if !loop.last%},{% endif %}
      {% endfor%}</span>

      <time class="post-date" datetime="{{post.date_published | date('j F Y')}}">{{post.date_published | date('j F Y')}}</time>

      <span class="read-time">Read time: {{post.readingTime}}</span>
    </footer>
</article>
{% endfor %}