@import (inline) "screen.css";
@import (inline) "highlight.css";
@import "header.less";

.external-networks a {
  display: inline-block;
  margin: 0 5px;

  &:first-child {
    margin-left: 0;
  }
}

.external-networks a,
.external-networks a img {
  width: 34px;
  height: 34px;
}


/*
    Post Styles
 */

.post-content {
    position: relative;
}

.post-meta > span {
    display: inline-block;
}

.post-date {
    display: inline;
    border-right: #D5DBDE 1px solid;
    margin-right: 8px;
    padding-right: 12px;
}
